@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
body {
  font-family: 'Open Sans', verdana, arial;
  font-size: 14px;
  color: #5D5D5D;
}
h3 {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 16px;
}
.m-l-5 {
  margin-left: 5px;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-default {
  background: none;
  border: none;
}
.brand-img {
  height: 30px;
  width: 30px;
  margin-top: -5px;
}
.navbar-link-text {
  font-family: 'Open Sans', verdana, arial;
  font-size: 15px;
}
.logo-small {
  height: 15px;
  width: 15px;
  padding: 2px;
}
a.navbar-brand {
  font-size: 22px;
}
a.navbar-brand::first-letter {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 3px;
}
.container {
  overflow-y: hidden;
}
#block div {
  word-wrap: break-word;
}
.collapse-panel {
  cursor: pointer;
}
#reset-button {
  margin-left: 10px;
}
.dataTable {
  padding: 0 10px;
  margin-bottom: 10px;
}
.middle-row {
  margin: 0px;
  min-height: 200px;
  padding: 10px;
  border-top: solid 1px #ccc;
}
.row-underline:nth-child(even) {
  background: #f4f4f4;
}
.form-control[disabled] {
  border: none;
  background: #f7f7f7;
}
.row-underline {
  border-bottom: solid 1px #e4e4e4;
}
.alert {
  margin-top: 20px;
}
.customer-added-alert {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background: #000;
  color: white;
  padding: 10px;
  opacity: 0.9;
  font-size: 15px;
  border-radius: 4px;
}
.customer-updated-alert {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #000;
  color: white;
  padding: 10px;
  opacity: 0.9;
  font-size: 15px;
  border-radius: 4px;
}
.chart {
  padding: 10px;
  margin: auto;
  /*border: solid 1px #e4e4e4;*/
  margin-bottom: 20px;
}
.alert {
  word-wrap: break-word;
}
svg {
  margin: auto;
}
svg text.percent {
  fill: white;
  text-anchor: middle;
  font-size: 12px;
}
.recent-transactions {
  /*display: none;*/
}
.loader {
  margin: 10px auto;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  bottom: 0;
  margin: auto;
  border-top: solid 1px #e4e4e4;
  padding: 10px;
  text-align: right;
  font-size: 12px;
}
.chartDiv {
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
#chart1 {
  background-image: url('/images/chart_1.png');
}
#chart2 {
  background-image: url('/images/chart_2.png');
}
#chart3 {
  background-image: url('/images/chart_3.png');
}
#chart4 {
  background-image: url('/images/chart_4.png');
}
#chart5 {
  background-image: url('/images/chart_5.png');
}
@media screen and (min-width: 768px) {
  .jumbotron .h1,
  .jumbotron h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .blocks-col {
    word-wrap: break-word;
  }
}
.jumbotron {
  margin-bottom: 0px;
}
.jumbotron .h1,
.jumbotron h1 {
  text-align: center;
}
